/* All Pages body styles*/
body{               
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}

/* Header HTML semantic for all pages for Name style */
header> .navbar-light .navbar-brand{   
    background-color: teal;    
    padding: 15px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin-left:80px;
    color: white;
}

/* submit Button of contact page */
.button {
    background-color: teal; 
    border: white;             
    margin: 0px;
    color: white;
    margin: auto;
    padding: 10px 20px; 
}

/* heading h3 of all  pages */
h3{
    color: teal;
    border-bottom-style: inset;               
    border-bottom-width: 2px;
    padding: 30px 5px;
    margin-left: 0px;
}

/*section from contact page  */       
section{
    margin-top: 20px;
}


/* footer of all pages  Sticky Footer styles added */
footer{
    width:100%;
    text-align: center;
    background-color: #29292b;
    border-top-style: solid;
    border-top-color: teal;
    border-top-width: 8px;
    color: white;
    font-size: 16px;    
    padding-bottom:.3em;
    margin-top: 30%;
    padding-top: 60px;
}
/*portfolio picture floating left */
.float-img {
    float: left;   
    margin: 15px;
}
/* ID for about page paragraph */
#center {
    font-size: 18px;
    text-align: justify;    
}
/* Added text-block class for pictures text of portfolio Page*/
.text-block {
    position: absolute;
    bottom: 20px;   
    left: 30px;
    width: 320px;
    background-color: teal;
    color: white;
    text-align: center;
  }
  /*added link design on portfolio page*/
  a:link, a:visited {
    color: white;   
    text-decoration: none;
  }
  a:hover {
      color: red;
  }
  /*Added form-group class for contact page */
  .form-group{
      font-size: 20px;
      font: bold;
  }

/* Extra Small devices (portable small phones, 250px and up)*/
@media (min-width: 250px) { 
    .container {
        background-color: #ffffff;
        width: 80%;
        height: 50%;    
        margin-left: 10%;
        margin-top: 5%;
        padding-left: 3%;
        padding-right: 3%;    
    }
}
 /* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .container {
        background-color: #ffffff;
        width: 80%;
        height: 50%;    
        margin-left: 7%;
        margin-top: 5%;
        padding-left: 3%;
        padding-right: 3%;    
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container{
        background-color: #ffffff;
        width: 95%;
        height: 50%;    
        margin-left: 7%;
        margin-top: 5%;
        padding-left: 3%;
        padding-right: 3%;    
    } 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{
        background-color: #ffffff;
        width: 75%;
        height: 50%;    
        margin-left: 7%;
        margin-top: 5%;
        padding-left: 3%;
        padding-right: 3%;    
    } 
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .container{
        background-color: #ffffff;
        width: 60%;
        height: 50%;    
        margin-left: 7%;
        margin-top: 5%;
        padding-left: 3%;
        padding-right: 3%;    
    }
} 